body {
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
   
}

section {
    background-color: rgb(11, 92, 129);
    
}

.hero {
    background-color: rgb(11, 92, 129);
    height: 100vh;
    color: whitesmoke;
    font-size: 35px;
}

footer {
    height: 500px;
    background-color: rgb(11, 92, 129);
    color: whitesmoke;
    text-align: center;
    padding: 75px;
    margin-bottom: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 28px;
}

li { 
    text-decoration: none;
}

h1 {
    font-size: 75px;
    margin: 0;
}

h2 {
    font-size: 45px;
}

p {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.info {
    justify-content: space-around;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 75px;
    margin-bottom: 230px;
}

.button {
width: 180px;
height: 60px;
border-radius: 30px;
background-color: coral;
text-align: center;
font-size: 35px;
font-weight: 400;
padding-top: 5px;
margin-top: 20px;
}

.button:hover {
    background-color: rgb(252, 172, 143);
}

.button:active {
    background-color: rgb(77, 61, 55);
    color: rgb(49, 18, 6);
}

.social-media {
    padding-bottom: 200px;
}

.logo {
    height: 200px;
    margin: 50px;
}

.social {
    margin-bottom: 10px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 75px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 75px;
}

.subtext {
    font-size: 15px;
    font-weight: 400px;
}

.selfie {
    width: 280px;
    border-radius: 180px;
}

.selfie-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 310px;
    height: 480px;
    box-shadow: 5px 5px 20px rgb(207, 204, 204);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    width: 200px;
    margin-top: 20px;
}

hr {
    margin-left: 15px;
    margin-right: 15px;
}

.project-link {
    text-decoration: none;
    color: grey;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
